#mambo{
    background-color: bisque;
}
h1{
    font-size: 70px;
    text-align: center;
    text-justify: center;
    color:#fff;
    font-style: oblique;
}
a{
    list-style: none;
    margin: 10px;
    color: white;
    font-size: 35px;
    text-decoration: none;
    font-style: oblique
}
.btn{
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    background: transparent;
    backdrop-filter:blur(10px);
    border: 2px solid #fff;

}
.box{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 10px;
    padding: 10px;
    margin-top: 25%;
    align-items: center;
    justify-content: center;
}
.boom{
    margin: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: palevioletred;
    border-radius: 30px;
}